.author {
    justify-self: end;
    align-self: baseline;
}

.about-image {
    grid-area: image;
}

.about-image img {
    width: 95%;
}


/* grid */

.about-page {
    grid-template-areas: "title" "image" "text" "author";
}

.title {
    grid-area: title;
}

.text {
    grid-area: text;
}

.author {
    grid-area: author;
}

.about-image {
    grid-area: image;
}