.main-page {
    /* main page grid */
    grid-template-columns: 3fr 1fr;
}

.post {
    /* subgrid */
    grid-template-areas: "title" "picture" "text" "readMore";
    /* akcent */
    padding-bottom: 1.5em;
    border-bottom: 1px rgb(165, 165, 165) solid;
}

.title {
    grid-area: title;
}

.text {
    grid-area: text;
}

.main-picture {
    grid-area: picture;
}

.readMore {
    grid-area: readMore;
    justify-self: end;
}

.title {
    text-align: center;
}

.text {
    text-align: justify;
}

.content>div:last-child .post {
    /* no border after last post */
    border-bottom: initial;
}

.title h2:hover {
    text-decoration: underline;
}

.preview p {
    margin-bottom: 0;
}