<div class="box main-page subgrid" [style.grid-template-areas]=this.contentLayout.getGridTemplate()>
    <div class="content">
        <div *ngFor="let post of posts">
            <div class="box post subgrid">
                <div class="title">
                    <a routerLink="/post/{{post.id}}">
                        <h2>{{post.title}}</h2>
                    </a>
                </div>
                <div class="main-picture center">
                    <a routerLink="/post/{{post.id}}">
                        <img class="grayed" src="{{post.mainPicture.url}}" alt="{{post.mainPicture.title}}">
                    </a>
                </div>
                <div class="preview text">
                    <p>{{post.preview}}</p>
                </div>
                <a class="readMore" routerLink="/post/{{post.id}}">
                    <button class="action"><span>Read More</span></button>
                </a>
            </div>
        </div>
    </div>
    <div class="box sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>