<div class="box post-page subgrid" [style.grid-template-areas]=this.contentLayout.getGridTemplate()>
    <div *ngIf="post" class="box content post subgrid">
        <h2 class="title">{{post.Title}}</h2>
        <p class="text">{{post.Text}}</p>
        <button class="goback action" (click)="goBack()"><span>Go Back</span></button>
        <div class="special-buttons">
            <button class="delete sm-btn" (click)="delete()"><span>Delete</span></button>
            <button class="save sm-btn" (click)="save()"><span>Save</span></button>
        </div>
    </div>
    <div class="box sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>