body {
    /* position */
    height: 100%;
}

.container {
    /* margin */
    margin: 0 auto;
    max-width: 1200px;
    /* position */
    position: relative;
    height: auto !important;
    min-height: 100%;
    /* grid parameters */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(300px, 3fr) 1fr;
    /* grid-template-areas: "header header" "nav nav" "content sidebar" "footer footer"; */
    /* fonts */
    font-size: 150%;
}


/* special fonts */

.header,
.nav {
    font-family: "Playfair Display";
}


/* header */

.header * {
    text-align: center;
    margin: 0 auto;
}

.header .title {
    font-size: 3.5em;
    /* non-anchor behaviour */
    color: inherit;
    text-decoration: none;
}

.header .subtitle {
    color: rgb(165, 165, 165);
    font-style: italic;
    font-weight: lighter;
}


/* anchor elements */

a {
    color: inherit;
    text-decoration: none;
}


/* navigation */

.nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* page content */

.content {
    align-content: start;
    justify-content: strech;
}


/* post title propeties */

.title {
    color: inherit;
    text-decoration: none;
    font-family: "Playfair Display";
    text-align: center;
}

.title:hover {
    color: rgb(99, 93, 93);
}


/* text propeties */

.text {
    text-align: justify;
}


/* footer */

.footer {
    grid-area: footer;
    border-top: 1px solid black;
    text-align: center;
    /* font */
    font-size: 67%;
    word-spacing: 0.3em;
    letter-spacing: 0.15em;
}


/* grid */

.box {
    padding: 10px;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}