<div class="container">
    <div class="box header">
        <a routerLink="/">
            <h1 class="main-title link">{{title}}</h1>
            <h2 class="second-line lighter link">{{ titleSecond | uppercase}}</h2>
        </a>
        <h5 class="subtitle lighter">{{subtitle}}</h5>
    </div>
    <div class="box nav">
        <app-navigation></app-navigation>
    </div>
    <div class="box main">
        <router-outlet></router-outlet>
    </div>
    <div class="box footer">
        {{footer | uppercase }}
        <button class="scroll-top sm-btn" (click)="scrollTop()" title="Go to top">Top</button>
    </div>
    <div class="playground">
        <label class="switch">
                    <input type="checkbox">
                    <span class="slider round" (click)="toggleMode()"></span>
                </label> {{ "Playground" | uppercase }}
    </div>
</div>