*:focus {
    outline: 0;
}

.container {
    /* margin */
    margin: 0 auto;
    max-width: 1200px;
    /* position */
    position: relative;
    height: 100vh;
    /* grid parameters */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 180px 50px 1fr 40px;
    grid-template-areas: "header" "nav" "main" "footer";
    /* fonts */
    font-size: 150%;
}


/* special fonts */

.header,
.nav {
    font-family: "Playfair Display";
}


/* header */

.header {
    width: 255px;
    justify-self: center;
}

.header * {
    text-align: center;
    margin: 0 auto;
    text-align: right;
}

.header .main-title {
    font-size: 3.5em;
}

.header .second-line {
    font-size: 0.9em;
    margin-top: -10px;
}

.header .subtitle {
    color: rgb(165, 165, 165);
    font-style: italic;
}

.header .link {
    color: inherit;
    text-decoration: none;
}

.header .lighter {
    font-weight: lighter;
}


/* anchor elements */

a {
    color: inherit;
    text-decoration: none;
}


/* navigation */

.nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* page content */

.main {
    align-content: start;
    justify-content: strech;
}


/* post title propeties */

.main-title {
    color: inherit;
    text-decoration: none;
    font-family: "Playfair Display";
    text-align: center;
}

.main-title:hover {
    color: rgb(99, 93, 93);
}


/* text propeties */

.title {
    text-align: center;
}

.text {
    text-align: justify;
}


/* footer */

.footer {
    grid-area: footer;
    align-self: end;
    border-top: 1px solid black;
    text-align: center;
    /* font */
    font-size: 67%;
    word-spacing: 0.3em;
    letter-spacing: 0.15em;
}


/* grid */

.box {
    padding: 10px;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.content {
    grid-area: content;
}


/* subgrid */

.subgrid {
    display: grid;
    grid-gap: 10px;
}

.title {
    grid-area: title;
}

.text {
    grid-area: text;
}