button {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    justify-self: end;
    text-align: center;
    border-radius: 1.5em;
    border: 1px solid rgb(165, 165, 165);
    color: #000000;
    background-color: #FFFFFF;
    /* fonts */
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: "Playfair Display";
    text-transform: uppercase;
}

button.active {
    /* effects */
    cursor: pointer;
    transition: all 0.5s;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.sm-btn {
    width: 100px;
    height: 25px;
    padding: 0px;
    /* fonts */
    font-size: 0.8em;
}

button.scroll-top:hover {
    background-color: rgb(165, 165, 165);
}