/* grid */

.post-page {
    /* main page grid */
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content" "sidebar";
}

.post {
    grid-template-areas: "title" "main-picture" "text" "gallery" "goback" "special-buttons";
}

.goback {
    grid-area: goback;
}

button {
    justify-self: end;
}

.title {
    min-height: 150px;
    max-height: 100%;
    box-sizing: border-box;
}

.text {
    min-height: 300px;
    max-height: 100%;
    box-sizing: border-box;
}

.gallery {
    grid-area: gallery;
}

.gallery img {
    max-height: 18em;
    max-width: 45%;
    padding: 0.1em;
}

.editable {
    height: 100%;
    width: 100%;
    padding: 12px 20px;
    padding-top: 1em;
    box-sizing: border-box;
    border-radius: 20px;
    resize: none;
    font-family: "Playfair Display";
    text-align: justify;
}

.editTitle {
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}

.editText {
    font-size: 20.5px;
}