<div class="box post-page subgrid" [style.grid-template-areas]=this.contentLayout.getGridTemplate()>
    <div *ngIf="post" class="box content post subgrid">
        <div class="title">
            <h2 *ngIf="!editable">{{post.title}}</h2>
            <textarea *ngIf="editable" class="editable editTitle" [(ngModel)]="post.title"></textarea>
        </div>
        <div class="text">
            <p *ngIf="!editable">{{post.text}}</p>
            <textarea *ngIf="editable" class="editable editText" [(ngModel)]="post.text"></textarea>
        </div>
        <div class="main-picture center">
            <img src="{{post.mainPicture.url}}" alt="{{post.mainPicture.title}}">
        </div>
        <div class="gallery center">
            <img *ngFor="let picture of post.pictures" class="" src="{{picture.url}}" alt="{{picture.title}}">
        </div>
        <div *ngIf="this.editMode" class="special-buttons">
            <div *ngIf="!editable">
                <button class="edit sm-btn" (click)="edit()"><span>Edit</span></button>
                <button class="delete sm-btn" (click)="delete()"><span>Delete</span></button>
            </div>
            <div *ngIf="editable">
                <button class="save sm-btn" (click)="save()"><span>Save</span></button>
                <button class="cancel sm-btn" (click)="cancel()"><span>Cancel</span></button>
            </div>
        </div>
        <button class="goback action" (click)="goBack()"><span>Go Back</span></button>
    </div>
    <div class="box sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <!-- The Modal -->
    <div id="warning-modal" class="modal">
        <div class="modal-content">
            <p>Leaving edit mode you will lost your changes. Do you want to leave?</p>
            <button class="sm-btn" (click)="confirmLeavingEdition()">Yes</button>
            <button class="sm-btn" (click)="denyLeavingEdition()">No</button>
        </div>
    </div>