.about-me {
    text-align: center;
    font-family: "Playfair Display";
}

.header {
    align-self: center;
}

.content {
    font-size: 0.78em;
    letter-spacing: 0.1em;
    line-height: 1.8em;
}

.link {
    color: rgb(99, 93, 93);
    font-size: 83%;
    padding-bottom: 0.2em;
    transition: all 0.5s ease 0s;
}

.link:hover {
    color: black;
    transform: scale(1.03);
    transition: all 0.5s ease 0s;
}

.link a {
    text-decoration: none;
    color: inherit;
}

.img-circle {
    border-radius: 50%;
}

.img-small {
    height: 7em;
    margin-top: 15px;
}


/* grid */

.down {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: [col1-start] auto [col2-start] auto [col2-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
}

.down>.content {
    grid-column: col2-start / col2-end;
    grid-row: row2-start / row3-end;
}

.down>.avatar {
    grid-column: col1-start;
    grid-row: row1-start / row3-start;
}

.down>.header {
    grid-column: col2-start / col2-end;
    grid-row: row1-start;
}

.down>.links {
    grid-column: col1-start;
    grid-row: row3-start / row3-end;
}