.main-page {
    /* main page grid */
    grid-template-columns: 3fr 1fr;
}

.post {
    /* subgrid */
    grid-template-areas: "title" "picture" "text" "readMore";
    /* akcent */
    border-bottom: 1px rgb(165, 165, 165) solid;
}

.readMore {
    grid-area: readMore;
    justify-self: end;
}

.main-picture {
    grid-area: "picture";
    /* position */
    text-align: center;
}

img {
    width: 90%;
}