/* post properties */

.post {
    padding-bottom: 3em;
}


/* anchor propeties */

a {
    color: inherit;
    text-decoration: none;
    font-family: "Playfair Display";
    text-align: center;
}

a:hover {
    color: rgb(99, 93, 93);
}


/* preview propeties */

p {
    text-align: justify;
}


/* grid propeties */

.title {
    grid-area: title;
}

.preview {
    grid-area: preview;
}

.picture {
    grid-area: picture;
}