.main-page {
    /* main page grid */
    grid-template-columns: 3fr 1fr;
}

.post {
    /* post subgrid */
    grid-template-areas: "title" "text" "readMore";
}

.readMore {
    grid-area: readMore;
    justify-self: end;
}